<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看我的购物车</title>
</head>
<body>
	<div id="content">
		<h1>您的购物车如下：</h1>
		<h3><a href="{% url 'users:user_index' %}">返回主页</a></h3>
		
		<form action="{% url 'orders:confirm' %}" method="post">
		{% csrf_token %}
			<table border="" cellspacing="0" cellpadding="">
				
				<tr>
					<th>商品名称</th>
					<th>商品图片</th>
					<th>商品数量</th>
					<th>商品单价</th>
					<th>商品总价</th>
					<th>操作</th>
				</tr>
				{% for s in shopcarts %}	
					<tr>
						<td><input type="checkbox" name="s_id" value="{{s.id}}" />{{s.goods.name}}</td>
						<td><img src="/{{s.goods.goodsimage_set.all.first.path}}" width="150" height="150" ></td>
						<td>{{s.count}}</td>
						<td>{{s.goods.price}}</td>
						<td>{{s.allTotal}}</td>
						<td>
							<a href="{% url 'shopcart:delete' s.id %}">删除</a>
						</td>
					</tr>
				
					{% empty %}
					<tr>
						<td>购物车没有商品哦，<a href="">去添加吧</a></td>
					</tr>
					
					
				
				{% endfor %}
			</table>
			<br>				
			<input type="submit" value="确认订单" />				
				
		</form>
		
	</div>
</body>
</html>