<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看我的购物车</title>
</head>
<body>
        <h1>查看购物车</h1>
        <table>
            {% for s in shopcarts %}

            <tr>
                <td><img src="/{{s.goods.goodimage_set.first.path}}"></td>
                <td>商品名称{{s.goods.name}}</td>
                <td>商品数量{{s.count}}</td>
                <td>商品售价{{s.goods.price}}</td>
                <td>小计金额{{s.allTotal}}</td>
            </tr>

            {% endfor %}
        </table>
</body>
</html>