<!DOCTYPE html>
<head>
	
	<title>作者资料</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="/static/css/css_user/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/css_user/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/css_user/templatemo_style.css" rel="stylesheet" type="text/css">	
	<style type="text/css">
		#ziliao{
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="templatemo-logo visible-xs-block">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg logo-left-container">
			<h1 class="logo-left">Black</h1>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg logo-right-container">
			<h1 class="logo-right">White</h1>
		</div>			
	</div>
	<div class="templatemo-container">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg left-container">
			<h1 class="logo-left hidden-xs margin-bottom-60">Black</h1>	
			<div class="tm-left-inner-container">
				<ul class="nav nav-stacked templatemo-nav">
				  <li><a href="{% url 'user:user_index' %}"><i class="fa fa-home fa-medium"></i>文章展示</a></li>
				  <li><a href="{% url 'user:user_articles'%}"><i class="fa fa-shopping-cart fa-medium"></i>个人空间</a></li>
				  <li><a href="/user/user_detail/?sid={{user.id}}"><i class="fa fa-send-o fa-medium"></i>个人资料</a></li>
				  <li><a href="{% url 'user:user_otherDetail' user.id %}"  class="active"><i class="fa fa-comments-o fa-medium"></i>作者资料</a></li>
				  <li><a href="#"><i class="fa fa-gears fa-medium"></i>About Us</a></li>
				  <li><a href="#"><i class="fa fa-envelope-o fa-medium"></i>Contact</a></li>
				</ul>
			</div>
		</div> <!-- left section -->
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg right-container">
			<h1 class="logo-right hidden-xs margin-bottom-60">White</h1>
			<div class="tm-right-inner-container">
				<h1 class="templatemo-header">作者资料</h1>
				<div class="templatemo-item templatemo-testimonial">
					<div id="ziliao" class="templatemo-border-right">
						<p><i class="fa fa-quote-left fa-medium"></i>
							<img src="/{{user.header}}" alt="Testimonial 1" class="img-circle img-thumbnail">
							<br>
							<br>
							姓名：{{user.name}}
							<br>
							<br>
							密码：******
							<br>
							<br>
							性别：{{user.sex}}"
							<br>
							<br>
							生日：{{user.data}}
							<br>
							<br>
							邮箱：{{user.email}}
							<br>
							<br>
							电话：{{user.phone}}
							<br>
							<br>
							cusID：{{user.cusID}}
						</p>
						
						<footer class="text-right">Mary, Digital Company</footer>	
					</div>					
				</div>

				<footer>
					<p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-social">
						<a href="#"><i class="fa fa-facebook fa-medium"></i></a>
						<a href="#"><i class="fa fa-twitter fa-medium"></i></a>
						<a href="#"><i class="fa fa-google-plus fa-medium"></i></a>
						<a href="#"><i class="fa fa-youtube fa-medium"></i></a>
						<a href="#"><i class="fa fa-linkedin fa-medium"></i></a>
					</p>
				</footer>
			</div>	
		</div> <!-- right section -->
	</div>	
</body>
</html>