<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regist</title>
</head>
    <body>
        <h1>注册用户--<small>{{msg}}</small></h1>
        <form action="/blog/regist" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>用户名：<input type="text" name="username" id="username"></p>
            <p>密码： <input type="password" name="password"></p>
            <p>用户头像：<input type="file" name="avatar" id="avatar"></p>
            <input type="submit" value="注册用户">
        </form>
    </body>
</html>