html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img ,input{ margin:0; padding:0;}
i,b,em{font-style: normal;}
a{text-decoration:none;}
ul,dl{list-style:none;}
img{border:0;display:block;}
a {color:#666; text-decoration:none; }
a:visited { color:#666; }
a:hover, a:active, a:focus { color:#ff8400; text-decoration:underline; }
.fl{float:left;}
.fr{float:right;}
body{font:12px arial;}
.hide{display:none;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility: hidden;}











































